html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Monteserrat', sans-serif;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #FFF2E1;
    overflow-x: hidden;
}
.landing{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0;
}
.landing-text{
    width: 50%;
    padding: 10%;
    font-size: 40px;
}
.landing-text p{
    font-weight: 600;
    font-size: 16px;
    line-height: 30px;
}
.landing-text ul{
    font-size: 18px;
    line-height: 25px;
    list-style: circle inside;
}
.landing-text .special{
    font-weight: bold;
}
.landing-image{
    width: 60%;
    height: 60%;
    border-radius: 0 0 0 150px;
}
.landing-image img{
    width: 100%;
    height: 900px;
    background-color: black;
    border-radius: 0 0 0 150px;
}
.sign-up{
    width: 20%;
    height: 50px;
    border-radius: 10px;
    background-color: #EAD8C0;
    color: #75474a;
    font-weight: bold;
    border: none;
    font-size: 17px;
}
.sign-in{
    width: 20%;
    height: 50px;
    border-radius: 10px;
    background-color: #EAD8C0;
    color: #75474a;
    font-weight: bold;
    border: none;
    font-size: 17px;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFF2E1;
    font-family: 'Montserrat', sans-serif;
}
        /*About us*/
.about-us{
    position:relative;
    width:100%;
    z-index:10;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 500;
  }
  
  .about-us h1{
    font-size:34px;
    color:black;
    text-align:center;
    margin-top:120px;
    letter-spacing:6px;
    font-weight:bold;
    text-transform:uppercase;
    line-height:1.2;
  
  }
  .about-us h2{
    text-align:center;
    margin: 0 50px 10px 0;
    font-size:26px;
    color:black;
    line-height:1.2;
    letter-spacing:6px;
    width:100%;
    position:relative;
    font-weight:400;
  }

  .why-us{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
   .about-us .column-1, .column-2, .column-3{
    margin-top:40px;
    width:300px;
    height:200px;
    text-align: left;
  }

  /*Recipes page */
  .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
}
.recipe-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    width: 22%;
    height: 30%;
}
.recipe-card img {
    width: 100%;
    height: 30%;
}
.recipe-card .content {
    padding: 20px;
}
.recipe-card h2 {
    font-size: 1.5em;
    margin: 0;
}
.recipe-card .meta {
    color: #888;
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.recipe-card .description {
    margin: 10px 0;
}
.recipe-card a {
    color: #007bff;
    text-decoration: none;
}

/*Recipe Owner dashboard*/
.landing-owner{
    width: 100;
    min-height: 100vh;
    padding: 3%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: row;
}
.sidebar-owner{
    width: 20%;
    height: 100%;
    background-color: #FFF2E1;
}
.owner-profile{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.owner-profile img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.names{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 10px;
    font-size: 20px;
}
.sidebar-owner ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.sidebar-owner ul li, a{
    width: 100%;
    border-radius: 5px;
    margin: 10px;
    display: flex;
    align-items: center;
    padding: 2px;
    text-decoration: none;
    color: black;
}
.sidebar-owner ul a:hover{
    background-color: #e8dbd3;
    cursor: pointer;
    font-weight: bold;
}
i{
    margin-right: 10px;
}
.main-content{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 100%;
}
.head{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.profile{
    display: flex;
    flex-direction: row;
}
.owner-recipe-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: 10px;
}
.owner-recipe-card{
    color: black;
    font-weight: 600;
    width: 22%;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 40px;
}
.owner-recipe-card img{
    width: 90%;
    height: 200px;
}


  /*Responsiveness*/
